<p id="notice"><%= notice %></p>

<h1>Заказы</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to 'Показать', admin_order_path(order) %></td>
        <td><%= link_to 'Удалить', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Назад', admin_path %>
