<h1> Добро пожаловать в Супер Типографию! </h1>
<a href="/products">Посмотреть товары и услуги</a>
<a href="">Моя корзина</a>
<% if user_signed_in? %>
  <a href="/users/sign_out" data-method="delete">Выйти</a>
<% else %>
  <a href="/users/sign_up">Зарегаться</a>
  <a href="/users/sign_in">Залогиниться</a>
<% end %>
